<div class='container.fluid background'>
    <div class="row">
        <div class="col-8 offset-2 all">
            <h2>Istorija zaduzenja :</h2>
            <select [(ngModel)]="searchParam">
                <option hidden></option>
                <option value="name">Naziv</option>
                <option value="taken_date">Datum vracanja</option>
                <option value="return_date">Datum zaduzivanja</option>
                <option value="author">Autor</option>
            </select>
            <button (click)="sort()" class=" btn">Sortiraj</button>
            <table class="table ">
                <tr>
                    <th>Naziv</th>
                    <th>Autori</th>
                    <th>Datum zaduzivanja</th>
                    <th>Datum vracanja</th>
                    <th></th>
                </tr>
                <tr *ngFor="let book of books">
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{year(book.taken_date)}} - {{month(book.taken_date)}} - {{day(book.taken_date)}}</td>
                    <td>{{year(book.return_date)}} - {{month(book.return_date)}} - {{day(book.return_date)}}</td>

                    <td><button class="btn btn-dark" (click)="details(book.id)">Detalji</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>