<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <img class="img" src="/assets/pictures/logo.png" width="80px">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a [routerLink]="''" *ngIf='type==null' class="nav-link active" aria-current="page">Pocetna</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'login'" *ngIf='type==null' class="nav-link active" aria-current="page">Prijava</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'register'" *ngIf='type==null' class="nav-link active" aria-current="page">Registracija</a>
            </li>
            <li class="nav-item active">
                <a [routerLink]="'user'" *ngIf='type=="reader" || type=="mod"' class="nav-link active" aria-current="page">Pocetna</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="'search'" *ngIf='type!="admin"' class="nav-link active" aria-current="page">Pretraga</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'admin'" *ngIf='type=="admin"' class="nav-link active" aria-current="page">Zahtevi</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="'promenalozinke'" *ngIf='type!=null' class="nav-link active" aria-current="page">Promena lozinke</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="'addBook'" *ngIf='type=="mod" ||  type=="admin"' class="nav-link active" aria-current="page">Dodaj knjigu</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="'register'" *ngIf='type=="admin"' class="nav-link active" aria-current="page">Dodaj korisnika</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'update-delete'" *ngIf=' type=="admin"' class="nav-link active" aria-current="page">Izmeni/Obrisi korisnika</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'zaduzene-knjige'" *ngIf=' type=="reader" ||  type=="mod"' class="nav-link active" aria-current="page">Pregled zaduzenih knjiga</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'istorija-zaduzenja'" *ngIf=' type=="reader" ||  type=="mod"' class="nav-link active" aria-current="page">Istorija zaduzenja</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'books'" *ngIf=' type=="admin" || type=="mod"' class="nav-link active" aria-current="page">Izmeni/Obrisi knjigu</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'return-days'" *ngIf=' type=="admin"' class="nav-link active" aria-current="page">Dani za vracanje</a>
            </li>
        </ul>

    </div>
    <div class="form-inline my-2 my-lg-0">
        <a [routerLink]="'profile'" *ngIf='user!=null' class="nav-link active" aria-current="page">
            <div class="profile">

                <img [src]="user.picture" width="40px"> {{user.name}}
            </div>
        </a>
        <button *ngIf='type!=null' class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
</nav>