.img {
    margin-right: 30px;
}

.profile {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile img {
    margin-right: 10px
}

.navbar {
    background-color: #2D232E;
}