<div class='container.fluid background '>
    <div class="row">
        <div class="col-4 offset-4 form">
            <h1>Promena lozinke</h1>
            <table class="table">
                <tr>
                    <td>
                        Stara lozinka:
                    </td>
                    <td>
                        <input type="password" [(ngModel)]="stara">
                    </td>
                </tr>
                <tr>
                    <td>
                        Nova lozinka:
                    </td>
                    <td>
                        <input type="password" [(ngModel)]="nova">
                    </td>
                </tr>
                <tr>
                    <td>
                        Potvrda nove lozinke:
                    </td>
                    <td>
                        <input type="password" [(ngModel)]="potvrda">
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2"> <button (click)="promenaLozinke()" class="mybtn btn">Promeni lozinku</button></td>

                </tr>
            </table>
            <span style="color: red;">{{message}}</span>
        </div>
    </div>
</div>