<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 form">
            <h2><i>{{book.name}}</i></h2>
            <table class="table">


                <tr>
                    <th>
                        Naziv:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.name">
                    </td>
                </tr>
                <tr>
                    <th>
                        Autori:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.author[0]">
                        <input type="text" [(ngModel)]="book.author[1]">
                        <input type="text" [(ngModel)]="book.author[2]">
                    </td>
                </tr>
                <tr>
                    <th>
                        Zanr:
                    </th>
                    <td>
                        <select [(ngModel)]="book.genre" multiple>
                            <option *ngFor="let zanr of genres"  [value]="zanr">{{zanr}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        Izdavac:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.publisher">
                    </td>
                </tr>
                <tr>
                    <th>
                        Objavljeno:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.published">
                    </td>
                </tr>
                <tr>
                    <th>
                        Jezik:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.language">
                    </td>

                </tr>
                <tr>
                    <th>
                        Slika:
                    </th>
                    <td>
                        <input type="file" (change)="onChange($event)">
                    </td>
                </tr>
                <tr>
                    <th>
                        Na stanju:
                    </th>
                    <td>
                        <input type="text" [(ngModel)]="book.stock">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                        <button class="btn" (click)="change(book)">Izmeni knjigu</button>

                    </td>
                </tr>

            </table>


        </div>


    </div>
</div>