<div class='container.fluid background'>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Knjige: </h2>
            <table class="table ">
                <tr>
                    <th></th>
                    <th>Naziv</th>
                    <th>Autori</th>
                    <th>Zanr</th>
                    <th>Izadvac</th>
                    <th>Izdanje</th>
                    <th>Jezik</th>
                    <th>Na stanju</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let book of books">
                    <td><img width="50px" [src]="book.cover"></td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.published}}</td>
                    <td>{{book.language}}</td>
                    <td>{{book.stock}}</td>
                    <td><button class="btn" (click)="change(book)">Izmeni</button></td>
                    <td><button class="btn" (click)="delete(book)">Obrisi</button></td>

                </tr>

            </table>
        </div>
    </div>
</div>