<div class="container.fluid background">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Pristigli zahtevi:</h2>
            <table cellpadding="10" class="table">
                <tr>
                    <th>Korisnicko ime:</th>
                    <th>Ime i prezime:</th>
                    <th>Email:</th>
                    <th>Tip korisnika:</th>

                </tr>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.type}}</td>
                    <td><button class="btn" (click)="approve(user.username)">Prihvati</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>