<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 form">
            <h3>Trenutni broj dana za citanje : {{days}}</h3>

            <input type="text" [(ngModel)]="changedDays" placeholder="Unesi broj dana za citanje..."><br>
            <button class="btn btn-dark" (click)="change()">Izmeni</button><br>
            <span style="color:red;">{{message}}</span>
        </div>
    </div>
</div>