

<div class="container.fluid background">
    <div class="row">
        <div class="col-6 offset-3 profile">
            <h2>Osnovne informacije Vaseg profila :</h2>
            <img [src]="user.picture" width="200px">

<table class="table">
    <tr>
        <td>Ime i prezime:</td>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Adresa:</td>
        <td>{{user.address}}</td>
    </tr>
    <tr>
        <td>Kontakt:</td>
        <td>{{user.contact}}</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>{{user.email}}</td>
    </tr>
   
</table>
        </div>
    </div>
</div>