<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 login">
            <h3> Login </h3>

            <table class="table">
                <tr>
                    <td>Username :</td>
                    <td><input type="text" [(ngModel)] = "username"></td>
                </tr>
                <tr>
                    <td>Password :</td>
                    <td><input type="password" [(ngModel)] = "password"></td>
                </tr>
                <tr align="center">
                   
                    <td colspan="2"><button class="btn mybtn" (click)="login()">Login</button></td>
                </tr>
            </table>
            
            <span style="color: red; margin-top: 10px;"> {{message}}</span>
        </div>
    </div>
</div>