<div class="container.fluid background">
    <div class="row">
        <div class="col-10 offset-1" style="padding:50px;">
            <h2>Svi korisnici:</h2>
            <table cellpadding="10" class="table">
                <tr>
                    <th>Korisnicko ime:</th>
                    <th>Ime i prezime:</th>
                    <th>Email:</th>
                    <th>Tip korisnika: (reader,mod,admin)</th>
                    <th>Adresa:</th>
                    <th>Kontakt:</th>
                </tr>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><input [(ngModel)]="user.type"></td>
                    <td><input [(ngModel)]="user.address"></td>
                    <td><input [(ngModel)]="user.contact"></td>
                    <td><button class="btn" (click)="update(user)">Izmeni</button></td>
                    <td><button class="btn" (click)="delete(user)">Obrisi</button></td>

                </tr>
                <tr>
                    <td colspan="6">
                        <table>

                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>