/* You can add global styles to this file, and also import other style files */

.background {
    height: 100%;
    min-height: 87vh;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: #F1F0EA;
}

input[type='text'],
input[type='password'],
select {
    border: 0 solid #32302e;
    box-shadow: 0 -1px 0 #E0E0E0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
    outline: none;
    padding: 4px 10px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-bottom: 5px;
}

.form {
    margin-top: 50px;
    text-align: center;
}

.btn {
    background-color: #ED6A5a;
    color: white;
}

.table {
    margin-top: 30px;
}