.register{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
   
}



.mybtn{
    margin-top: 10px;
    margin:auto;
}