<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 register">


            <h1 *ngIf="!isAdmin">Registracija</h1>
            <h1 *ngIf="isAdmin">Dodaj korisnika</h1>

            <table class="table">
                <tr>
                    <td>Username: </td>
                    <td> <input type="text" [(ngModel)]="username"></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" [(ngModel)]="password"></td>
                </tr>
                <tr>
                    <td>Confirm password: </td>
                    <td><input type="password" [(ngModel)]="passwordConfirm"></td>
                </tr>
                <tr>
                    <td>Name and lastname:</td>
                    <td><input type="text" [(ngModel)]="name"></td>
                </tr>
                <tr>
                    <td>Address: </td>
                    <td><input type="text" [(ngModel)]="address"></td>
                </tr>
                <tr>
                    <td>Contact number:</td>
                    <td><input type="text" [(ngModel)]="contact"></td>
                </tr>
                <tr>
                    <td>E-mail: </td>
                    <td><input type="text" [(ngModel)]="email"></td>
                </tr>
                <tr>
                    <td>Picture (optional)</td>
                    <td><input type="file" [(ngModel)]="pic" (change)="onChange($event)"></td>
                </tr>
                <tr>
                    <td> <input type="radio" name="role" [(ngModel)]="type" value="reader"> Citalac </td>
                    <td> <input type="radio" name="role" [(ngModel)]="type" value="mod"> Moderator </td>
                </tr>
                <tr align="center">
                    <td colspan="2"><button class="btn mybtn" (click)="register()"> Registruj</button></td>
                </tr>


            </table>

            <span style="color: red;">{{message}}</span>

        </div>
    </div>
</div>