.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    justify-content: center;
    margin-top: 40px;
    background-color: #E0DDCF;
    padding: 20px;
    box-shadow: 0 1px #f3f4f4 inset, 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}