<div class='container.fluid background'>
    <div class="row">
        <div class="col-6 offset-3 book">


            <h1>Knjiga dana</h1><br>
            <img [src]="randomBook.cover" width="300px"><br>
            <h2> <i>{{randomBook.name}}</i></h2>
            <hr>
            <b>Autori : </b>
            <p>{{randomBook.author}}</p>
            <b>Ocena : </b>
            <p>{{calculate()}}</p>

        </div>
    </div>
</div>