<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 form">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h3>{{book['name']}}</h3>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <img [src]="book['cover']" style="max-width: 300px; max-height: 480px;"><br>
                    </td>
                </tr>

                <tr>
                    <th>
                        Autori:
                    </th>
                    <td>
                        {{book['author']}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Zanr:
                    </th>
                    <td>
                        {{book['genre']}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Izdavac:
                    </th>
                    <td>
                        {{book['publisher']}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Objavljeno:
                    </th>
                    <td>
                        {{book['published']}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Jezik:
                    </th>
                    <td>
                        {{book['language']}}
                    </td>

                </tr>
                <tr>
                    <th>
                        Ocena:
                    </th>
                    <td>
                        {{calculate()}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Na stanju:
                    </th>
                    <td>
                        {{book['stock']}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                        <button *ngIf="book['stock']>0 && zaduzena(book['id'])==false" class="btn" (click)="zaduzi(book)"> Zaduzi knjigu</button>

                    </td>
                </tr>

            </table>


        </div>

        <div class="col-6 offset-3">
            <h4> Komentari :</h4><br>
            <span style="color:red;" *ngIf="book.comments.length==0">Ova knjiga nema ni jedan komentar.</span>
            <div *ngFor="let comment of book.comments" class="comment">
                <i>  {{comment.username}}</i>
                <hr> <i>Komentar</i> : {{comment.comment}} <br> <i>Ocena</i> : {{comment.rate}}



                <br> <i>Datum</i> : {{formatDate(comment.date)}}
            </div>
            <div class="comments">

                <label>Ocena:</label><br>

                <select [(ngModel)]="rate">
                    <option *ngFor="let rating of ratings"  [value]="rating">{{rating}}</option>
                </select><br>

                <label>Komentar:</label><br>
                <textarea [(ngModel)]="comment" placeholder="Ostavi komentar..." cols="110"></textarea><br>
                <span style="color:red;">{{message}}</span><br>
                <button class="btn" (click)="postComment()">Postavi</button>
            </div>
        </div>
    </div>
</div>