textarea {
    border: 3px solid lightgray;
}

.btn {
    margin-top: 30px;
}

.comments {
    text-align: center;
    margin-top: 30px;
}

.comment {
    margin: 10px;
    background-color: #E0DDCF;
    padding: 10px;
    box-shadow: 0 1px #f3f4f4 inset, 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
}