<div class='container.fluid background'>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Zaduzene knjige:</h2>
        </div>
        <div class="col-8 offset-2 books">
            <span *ngIf="count()==0" style="color:red;">Nemate nijednu zaduzenu knjigu</span>
            <div *ngFor="let book  of user.borrowed">
                <div class="card" style="width: 300px; margin:20px;" *ngIf="book.returned==false">

                    <img class="" [src]="book['image']" alt="Card image cap" width="300px" height="380px">
                    <div class="card-body">
                        <h5 class="card-title">{{book.name}}</h5>
                        <p class="card-text">Autori : {{book.author}}</p>
                        <p class="card-text" *ngIf="calculate(book)>=0">Ostalo jos : {{calculate(book)}} dana</p>
                        <p class="card-text" *ngIf="calculate(book)<0" style="color:red;">Kasnite : {{-calculate(book)}} dana</p>
                        <button (click)="details(book)" class="btn">Detalji</button>
                        <button (click)="razduzi(book)" class="btn">Razduzi</button>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>