.top3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    background-color: #E0DDCF;
    box-shadow: 0 1px #f3f4f4 inset, 10px 10px 10px 5px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

h2 {
    margin-bottom: 50px;
}