<div class="container.fluid background">
    <div class="row">
        <div class="col-4 offset-4 top3">
            <h2>Top 3 knjige</h2>
            <div style="width: 500px; height: 300px;">
                <ng-image-slider [images]="imageObject" [infinite]="true" [autoSlide]="1" [imageSize]="{width:'40%'}" slideImage="1"></ng-image-slider>
            </div>
        </div>
    </div>
</div>