<div class='container.fluid background'>
    <div class="row">
        <div class="col-4 offset-4 form">

            <h1>Pretraga</h1>
            <table class="table">
                <tr>
                    <td>Pretraga po nazivu:</td>
                    <td><input type="text" [(ngModel)]="name"></td>
                </tr>
                <tr>
                    <td>Pretraga po autoru:</td>
                    <td><input type="text" [(ngModel)]="author"></td>
                </tr>
                <tr align="center">
                    <td colspan="2"> <button (click)="search()" class="btn">Pretrazi</button></td>
                    <td></td>
                </tr>
            </table>


        </div>

        <div class="col-10 offset-1 ">
            <h3>Rezultat pretrage :</h3>
            <table *ngIf="books.length!=0" cellpadding="15">
                <th></th>
                <th>Knjiga</th>
                <th>Autori</th>
                <th>Detalji</th>
                <tr *ngFor="let book of books" class="book">
                    <td><img [src]="book.cover" class="bookimg"></td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>
                        <button *ngIf="type=='reader' || type=='mod'" (click)="details(book)" class="btn">Detalji</button>
                    </td>
                </tr>
            </table>
            <span style="color:red;">{{message}}</span>
        </div>
    </div>
</div>