<div class='container.fluid background'>
    <div class="row">
        <div class="col-6 offset-3 form">

            <h3>Dobrodosli na stranu za dodavanje nove knjige: </h3>

            <table class="table">
                <tr>
                    <td>Naziv knjige: </td>
                    <td> <input type="text" [(ngModel)]="naziv"></td>
                </tr>
                <tr>
                    <td>Autor/i: </td>
                    <td><input type="text" [(ngModel)]="authors[0]"><br>
                        <input type="text" [(ngModel)]="authors[1]"><br>
                        <input type="text" [(ngModel)]="authors[2]">
                    </td>
                </tr>
                <tr>
                    <td>Odaberite zanr: </td>
                    <td>
                        <select [(ngModel)]="genre" multiple>
                        <option *ngFor="let zanr of genres"  [value]="zanr">{{zanr}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Izdavac: </td>
                    <td><input type="text" [(ngModel)]="publisher"></td>
                </tr>
                <tr>
                    <td>Godina izdavanja: </td>
                    <td><input type="text" [(ngModel)]="published"></td>
                </tr>
                <tr>
                    <td>Jezik:</td>
                    <td><input type="text" [(ngModel)]="language"></td>
                </tr>
                <tr>
                    <td>Slika korice knjige (neobavezno)</td>
                    <td><input type="file" (change)="onChange($event)"></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><button class="btn mybtn" (click)="addBook()"> Dodaj </button></td>
                </tr>


            </table>
        </div>
    </div>
</div>